@use "global" as *;

.page-voice-layout {
  position: relative;
  margin-top: rem(48);
  @include mq(md) {
    margin-top: rem(146);
  }
}

.page-voice-layout::before {
  content: "";
  background: url("./../images/common/top-voice-fish.png") center center / cover no-repeat;
  /*絶対配置で線の位置を決める*/
  display: block;
  position: absolute;
  top: -0.8%;
  left: calc(50% - (min(46vw, rem(620))));
  /*線の形状*/
  max-width: rem(120);
  width: 100%;
  height: rem(55);
  z-index: -1;
  @include mq(md) {
    max-width: rem(300);
    width: 100%;
    height: rem(138);
    top: -4.6%;
  }
}
