@use "global" as *;
.page-contact {
  position: relative;
}

.page-contact::before {
  content: "";
  background: url("./../images/common/top-voice-fish.png") center center / cover no-repeat;
  /*絶対配置で線の位置を決める*/
  display: block;
  position: absolute;
  top: -2%;
  left: calc(50% - (min(46vw, rem(620))));
  /*線の形状*/
  max-width: rem(120);
  width: 100%;
  height: rem(55);
  z-index: -1;
  @include mq(md) {
    max-width: rem(300);
    width: 100%;
    height: rem(138);
    top: -6.2%;
  }
}

.page-contact__inner.inner {
  padding: 0 rem(15);
}
form {
  max-width: rem(700);
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*サイズ等の指定*/
$fz: rem(16); //入力するときのfont-size
$border-r: rem(6); //border-radius（テキスト系）

/*チェックボックスの指定*/
$check-fz: rem(16); //フォントサイズ
$check-size: rem(14); //外枠の幅高さ
$check-bg-cr: #fff; //外枠の背景色
$check-border-cr: $green; //外枠の色
$check-bg-cr-inner: #c94800; //チェックマークの背景色
$check-space: rem(5); //チェックマークと文字の距離
$check-space-betweenRadio: rem(20); //ラジオボタンの間の距離
$check-weight: rem(2); //チェックマークの線の太さ(px)

/*テキストエリアの指定*/
$textarea-height: rem(200);

[type="text"],
[type="search"],
[type="tel"],
[type="url"],
[type="email"],
[type="password"],
[type="date"],
textarea {
  /*↓リセットCSS */
  border: none;
  border-radius: 0;
  background-image: none;
  font-family: inherit;
  /*↓カスタム */
  padding: rem(10) rem(15) rem(4) rem(15);
  border: rem(1) solid $green;
  // 縦方向中央よせ
  display: flex;
  align-items: center;
  /*↓↓選択されているときの色*/
  &:focus {
    border: rem(1) solid $green;
  }
  @include mq(md) {
    max-width: rem(480);
    width: 100%;
  }
}

::placeholder {
  color: #ddf0f1;
}

[type="checkbox"] {
  display: none;

  + span {
    display: inline-block;
    position: relative;
    padding: 0 0 0 rem(25);
    font-size: $check-fz;
    line-height: 1;
    cursor: pointer;
    transition: 0.3s ease;

    // 枠
    &::before {
      position: absolute;
      content: "";
      top: 28%;
      left: 0;
      transform: translateY(-50%);
      background: $check-bg-cr;
      border: 1px solid $check-border-cr;
      width: $check-size;
      height: $check-size;
      display: block;
      @include mq(md) {
        left: 0;
      }
    }
    // チェックマーク
    &::after {
      opacity: 0;
      transition: 0.3s ease;
    }
  }

  &:checked + span {
    &::after {
      content: "";
      position: absolute;
      top: 15%;
      left: 1.25%;
      display: block;
      opacity: 1;
      /*チェックマークじゃない場合は以下を変更する*/
      transform: translateY(-50%) rotate(-45deg);
      width: rem(9);
      height: rem(5);
      border-left: 2px solid $check-bg-cr-inner;
      border-bottom: 2px solid $check-bg-cr-inner;
      @include mq(md) {
        top: 18%;
        left: 1%;
      }
    }
  }
}

[type="tel"] {
  letter-spacing: -0.1em;
}

[type="checkbox"] + span:not(:first-child) {
  margin-top: rem(6);
  @include mq(md) {
    margin-top: rem(9);
  }
}

[type="email"] {
  text-indent: -0.1em;
}

.page-contact__form-custum-pull {
  /* 　デフォルトのプルダウンを解除 */
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  /* オリジナルのプルダウンを作成 */
  display: inline-block;
  width: 100%;
  padding-top: rem(11);
  padding-bottom: rem(9);
  padding-left: rem(8);
  cursor: pointer;
  line-height: 1.5;
  border: solid rem(1) $green;
  font-size: rem(12);
  @include mq(md) {
    max-width: rem(480);
    width: 100%;
    padding-top: rem(5);
    padding-bottom: rem(5);
  }

  //* 　三角マーク作成 */
}
.page-contact__triangle {
  position: relative;
}
.page-contact__triangle::before {
  content: "";
  position: absolute;
  top: 30%;
  left: 94%;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9px 5px 0 5px;
  border-color: $green transparent transparent transparent;
  @include mq(md) {
    top: 32%;
    left: 96%;
  }
}

/* 　フォーカス時 */
.page-contact__form-custum-pull:focus {
  outline: 0;
}

textarea {
  height: $textarea-height;
  width: 100%;
  max-width: rem(600);
}

.page-contact__inner dl {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
    max-width: rem(700);
    width: 100%;
  }
}

.page-contact__inner dl:not(:first-child) {
  margin-top: rem(21);
  padding-top: rem(24);
  border-top: dotted rem(1) $green;
  @include mq(md) {
    margin-top: rem(40);
    padding-top: rem(39);
  }
}

// キャンペーン項目以降のの余白の調整
.page-contact__inner dl:not(:first-child).page-contact__form-campaign-wrap {
  @include mq(md) {
    margin-top: rem(31);
    padding-top: rem(38);
    @include mq(md) {
      margin-top: rem(58);
    }
  }
}

.page-contact__inner dl:last-child {
  border-bottom: dotted rem(1) $green;
}

.page-contact__inner dt {
  position: relative;
  font-family: $second-font-family;
  font-weight: $bold;
}

.page-contact__inner dd {
  display: flex;
  flex-direction: column;
  
  margin-top: rem(17);
  @include mq(md) {
    margin-top: 0;
    max-width: rem(480);
    width: 100%;
  }
}

.page-contact__form-title-wrap {
  display: flex;
}

.page-contact__form-color {
  color: $white;
  background-color: #c94800;
  font-size: rem(12);
  font-weight: normal;
  padding: rem(3) rem(14);
  margin-left: rem(8);
  letter-spacing: 0.4em;
}

.page-contact__form-agreement {
  font-style: rem(14);
  margin-top: rem(23);
  padding-top: rem(44);
  line-height: 1.5;
  text-align: center;
  border-top: dotted rem(1) $green;
  @include mq(md) {
    margin-top: rem(38);
    padding-top: rem(73);
  }
}

// 個人情報欄のチェックボックスの調整

.page-contact__form-agreement [type="checkbox"] + span {
  font-size: rem(14);
  max-width: rem(277);
  width: 100%;
  margin-top: 0;
  line-height: 1.6;
  text-align: left;
  @include mq(md) {
    max-width: rem(370);
    width: 100%;
    padding-left: rem(32);
  }
}

.page-contact__form-agreement [type="checkbox"] + span::before {
  width: rem(22);
  height: rem(22);
  top: 15%;
  left: -1%;
  @include mq(md) {
    top: 42%;
    left: 0;
  }
}

.page-contact__form-agreement [type="checkbox"] + span::after {
  top: 8%;
  left: 0;
  width: rem(15);
  height: rem(10);
  border-left: rem(4) solid $check-bg-cr-inner;
  border-bottom: rem(4) solid $check-bg-cr-inner;
  @include mq(md) {
    top: 26%;
    left: 0.6%;
  }
}

.page-contact__btn-wrap {
  margin-top: rem(20);
  text-align: center;
  @include mq(md) {
    margin-top: rem(38);
  }
}

.page-contact__btn.common-btn {
  padding-left: rem(54);
  padding-right: rem(40);
  padding-top: rem(15);
  padding-bottom: rem(11);
}

.page-contact__btn .common-btn__asset {
  gap: rem(8);
  padding-right: rem(15);
  @include mq(md) {
    align-items: center;
  }
}

.page-contact__btn .common-btn__img {
  margin-left: 0;
  // margin-right: rem(16);
  padding-bottom: rem(10);
}

.page-contact__form-submit {
  margin-top: rem(60);
  text-align: center;
}

.common-btn__text.common-btn__text-submit {
  color: $white;
  line-height: 1.5714;
  padding-left: 0;
}

.page-contact__btn.common-btn:hover {
  .common-btn__text.common-btn__text-submit {
    color: $green;
  }
}

.page-contact__btn.common-btn:before {
  left: rem(2);
  top: rem(4);
  width: 102%;
  height: 105%;
}

textarea {
  /* 右下の//(サイズ変更機能)を消す */
  resize: none;

  /* フォーカスした際の青い枠線を消す */
  outline: none;

  /* widthを100%にしておくことで、レスポンシブ対応ができます。 */
  width: 100%;
}

input.common-btn__text {
  display: flex;
  align-items: center;
}

// エラー時（⇩WordPressでエラー時に切り替え）

.page-contact__error-text {
  color: #c94800;
  font-weight: normal;
}

// エラーページ
.inner .page-contact__error-text {
  font-size: rem(14);
  max-width: rem(240);
  width: 100%;
  margin-top: rem(46);
  letter-spacing: -0.1em;
  text-indent: 0.3em;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: 0.02em;
  @include mq(md) {
    max-width: rem(700);
    width: 100%;
    margin-top: rem(40);
    text-align: center;
    text-indent: 0;
    letter-spacing: 0;
    padding-left: rem(10);
  }
}
.page-contact__error-text span {
  display: block;
  padding-left: rem(15);
  @include mq(md) {
    display: inline-block;
    padding-left: 0;
  }
}

.page-contact__form-error {
  border: 1px solid #c94800;
  background: rgba(201, 72, 0, 0.2);
}

.page-contact__form-error::placeholder {
  color: $white;
}

.page-contact__form-error-layout {
  margin-top: rem(38);
  @include mq(md) {
    margin-top: rem(38);
  }
}
