@use "global" as *;

.blog-card {
  max-width: rem(630);
  width: 100%;
  padding: rem(16) rem(16) rem(24) rem(16);
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
  transition: 0.3s;
  background-color: $white;
  position: relative;
}

// ホバー時に背景を透過させずに半透明にする
.blog-card::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  transition: 0.3s;
  opacity: 0;
  background-color: $white;
  // 疑似要素を貫通して。aタグをクリックできる↓
  pointer-events: none;
}

.blog-card:hover::after {
  opacity: 0.5;
  transition: 0.3s;
}

.blog-card__img {
  aspect-ratio: 301/201;
}

.blog-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-card__title-block {
  margin-top: rem(22);
}

.blog-card__date {
  font-size: rem(12);
}

.blog-card__title {
  color: $black;
  font-family: $second-font-family;
  font-weight: 500;
}

.blog-card__text {
  font-family: $second-font-family;
  padding-top: rem(15);
  border-top: rem(1) solid $green;
}
