@use "global" as *;

.breadcrumbs-blog-layout {
  margin-top: rem(9);
}

.inner.breadcrumbs__inner {
  display: flex;
  gap: rem(8);
  padding-left: 0;
  padding-right: 0;
}

.breadcrumbs__inner{
  max-width: 630px;
  width: 100%;
  padding-right: $padding-sp;
  padding-left: $padding-sp;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    max-width: 1120px;
    padding-right:0;
    padding-left:0;
  }
}

.breadcrumbs__top a {
  font-family: $second-font-family;
  font-size: rem(14);
}

.breadcrumbs__page-title {
  font-family: $second-font-family;
  font-size: rem(14);
  text-indent: -0.3em;
}

.breadcrumbs__current-page {
  font-family: $second-font-family;
  font-size: rem(14);
}

// 404
.breadcrumbs.breadcrumbs-404 {
  color: $white;
  padding-top: rem(87);
  @include mq(md){
    padding-top: rem(100);
  }
}
