@use "global" as *;

.campaign-card {
  transition: 0.3s;
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
}

// カード内要素の下揃えに必要
.campaign-card a {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.campaign-card:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.campaign-card__img {
  aspect-ratio: 280/188;
  @include mq(md) {
    aspect-ratio: 333/223;
  }
}

.campaign-card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// ブログページ　サイドメニューのカード
.campaign-card__img.campaign-card__img--side-menu {
  aspect-ratio: 294/188;
}

.campaign-card__text-wrapper {
  padding: rem(16) rem(15) 0;
  font-family: $second-font-family;
  @include mq(md) {
    padding: rem(24) rem(15) rem(8);
  }
}

.campaign-card__text-wrapper.campaign-card__text-wrapper--blog {
  padding-top: rem(8);
}

.campaign-card__color-title {
  display: inline-block;
  color: $green;
  font-size: rem(12);
  line-height: 1;
  width: fit-content;
  padding: rem(8) rem(12);
  border: rem(1) solid $green;
  @include mq(md) {
    padding: rem(6) rem(16) rem(11);
  }
}

.campaign-card__title {
  color: $black;
  font-weight: 500;
  margin-top: rem(5);
  @include mq(md) {
    margin-top: rem(6);
  }
}

// ブログページのサイドメニューの装飾
.campaign-card__text-wrapper.campaign-card__text-wrapper--blog {
  font-family: $second-font-family;
  text-align: center;
}

// ↓これがないとデフォルトのフォントサイズが24pxになってしまう、、、なんで？
.campaign-card__text-wrapper.campaign-card__text-wrapper--blog .campaign-card__title {
  font-size: rem(16);
}

.campaign-card__text {
  text-align: center;
  color: $black;
  border-top: rem(1) solid $green;
  padding-top: rem(8);
  margin-top: rem(8);
  @include mq(md) {
    padding-top: rem(16);
    margin-top: 0;
  }
}

.campaign-card__price-block {
  font-family: $third-font-family;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: rem(1);
}

// カード下部の下揃え　cardのaタグのdisplay：flex、flex-direction:columnとセットで
.campaign-card__price-wrapper {
  margin-top: auto;
  padding: 0 rem(15) rem(16);
  font-family: $second-font-family;
  @include mq(md) {
    padding: 0 rem(15) rem(25);
  }
}

.campaign-card__price-before {
  font-size: rem(20);
  color: $black;
  position: relative;
  @include mq(md) {
    font-size: rem(24);
  }
}

.campaign-card__price-before::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  top: 50%;
  left: 0;
  /*線の形状*/
  width: 100%;
  height: rem(3);
  background: #c94800;
}

.campaign-card__price-after {
  color: $green;
  font-size: rem(32);
  margin-left: rem(16);
  @include mq(md) {
    font-size: rem(40);
    margin-left: rem(25);
  }
}

// Campaignセクション
.campaign-card__add-text-wrapper {
  padding-left: rem(16);
  padding-right: rem(16);
  font-family: $second-font-family;
  @include mq(md) {
    padding-left: rem(24);
    padding-right: rem(24);
  }
}
.campaign-card__add-text {
  font-size: rem(11);
  @include mq(md) {
    font-size: rem(16);
  }
}

.campaign-card__add-date {
  color: $green;
  text-align: center;
  margin-top: rem(24);
  @include mq(md) {
    margin-top: rem(30);
  }
}

.campaign-card__add-form {
  color: $green;
  text-align: center;
}

.campaign-card__title.campaign-card__title--page {
  font-size: rem(16);
  @include mq(md) {
    font-size: rem(24);
  }
}

// campaignページカード内余白調整
.campaign-card__text-wrapper.campaign-card__text-wrapper--page {
  padding-left: rem(24);
  padding-right: rem(24);
  padding-bottom: rem(4);
}

.campaign-card__price-wrapper.campaign-card__price-wrapper--page {
  padding-left: rem(24);
  padding-right: rem(24);
  padding-bottom: rem(8);
}

.campaign-card__price-after.campaign-card__price-after--page {
  margin-left: rem(40);
}

.campaign-card__text.campaign-card__text--page {
  padding-top: rem(23);
}
