@use "global" as *;

// common
.common-nav {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.common-nav__flex {
  @include mq(md) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.common-nav__item {
  margin-top: rem(5);
  padding-left: rem(21);
}

.common-nav__item br {
  @include mq(md) {
    display: none;
  }
}

.common-nav__item a {
  font-family: $second-font-family;
  font-size: rem(16);
  padding: rem(9) 0 rem(10) 0;
  display: block;
  line-height: 1.125;
  color: $white;
  text-align: center;
  text-transform: capitalize;
  text-align: left;
  position: relative;
  transition: 0.3s;
}

.common-nav__item a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.common-nav__item.common-nav__item--head {
  font-weight: $bold;
  position: relative;
  margin-top: rem(20);
}

// ヒトデの配置
.common-nav__item.common-nav__item--head::before {
  content: "";
  position: absolute;
  width: rem(18);
  height: rem(18);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-image: url(./../images/common/starfish.png);
  background-size: cover;
}

// footer調整

// .common-nav__flex.common-nav__flex--right {
//   margin-left: rem(10);
//   @include mq(md) {
//     margin-left: rem(20);
//   }
// }

.sitemap .common-nav__flex-list {
  margin-left: rem(10);
  @include mq(md) {
    margin-left: rem(20);
  }
}

.sitemap .common-nav__flex-list:first-child {
  margin-left: rem(10);
  @include mq(md) {
    margin-left: rem(0);
  }
}


// ２列目の列の左の余白調整
.sitemap .common-nav__flex-list:nth-child(2) {
  @include mq(md) {
    padding-left: rem(50);
  }
}

// ４列目の列の左の余白調整
.sitemap .common-nav__flex-list:last-child {
  @include mq(md) {
    padding-left: rem(26.5);
  }
}
