@use "global" as *;
footer {
  background-color: $green;
  padding-top: rem(50);
  padding-bottom: rem(80);
  @include mq(md) {
    padding-top: rem(80);
  }
}

.footer__list-wrapper {
  @include mq(md) {
    margin-top: rem(-10);
  }
}

// ナビゲーションの切り替え
.footer__nav-pc {
  display: none;
  @include mq(md) {
    display: block;
  }
}

.footer__nav-sp {
  @include mq(md) {
    display: none;
  }
}

// 各種ロゴ
.footer__logo-wrapper {
  @include mq(md) {
    display: flex;
    align-items: center;
    gap: rem(40);
  }
}
.footer__logo {
  width: rem(120);
  height: rem(45);
  @include mq(md) {
    width: rem(200);
    height: rem(75);
  }
}

.footer__sns {
  display: flex;
  @include mq(md) {
    margin-top: rem(25);
  }
}

.footer__facebook a {
  padding: rem(13) rem(8) rem(13) rem(0);
}

.footer__instagram a {
  padding: rem(13) rem(0) rem(13) rem(8);
}

.footer__sns a {
  display: block;
}

.footer__sns img {
  width: rem(24);
  height: rem(24);
  @include mq(md) {
    width: rem(32);
    height: rem(32);
  }
}

.footer__copy-right {
  color: $white;
  display: block;
  font-size: rem(12);
  padding: 0 rem(14);
  margin-top: rem(34);
  text-align: center;
  @include mq(md) {
    font-size: rem(14);
    padding: 0;
    margin-top: rem(27);
  }
}

// 404ページ

.footer.footer-404 {
  padding-bottom: rem(190);
  @include mq(md) {
    padding-bottom: rem(122);
  }
}
