@use "global" as *;

// 画像配置
.gallery::before {
  @include mq(md) {
    content: "";
    background: url("./../images/common/contact-fish.png") center center / cover no-repeat;
    /*絶対配置で線の位置を決める*/
    display: block;
    position: absolute;
    max-width: rem(301);
    width: 100%;
    height: rem(138);
    top: -4.3%;
    right: calc(50% - (min(44.4vw, rem(672))));
  }
}

// ギャラリー
.gallery__inner {
  max-width: rem(520);
  @include mq("md") {
    max-width: initial;
  }
}

.gallery__item:nth-child(6n + 1) {
  grid-row: span 2;
  @include mq("md") {
    grid-column: span 5;
  }
}

.gallery__item:nth-child(6n + 2),
.gallery__item:nth-child(6n + 3) {
  grid-row: span 1;
  @include mq("md") {
    grid-column: span 6;
  }
}

.gallery__item:nth-child(6n + 4),
.gallery__item:nth-child(6n + 5) {
  grid-row: span 1;
  @include mq("md") {
    grid-column: span 6;
  }
}

.gallery__item:nth-child(6n + 6) {
  grid-row: span 2;
  @include mq("md") {
    grid-column: span 5;
  }
}

.gallery__item:nth-child(6n + 1),
.gallery__item:nth-child(6n + 6) {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq("md") {
    cursor: pointer;
  }
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  @include mq("md") {
    cursor: pointer;
  }
}

// モーダル
.gallery__img-list {
  margin: 40 auto 0;
  display: grid;
  grid-auto-flow: dense;
  gap: rem(8);
  @include mq("md") {
    margin-top: rem(80);
    grid-template-columns: repeat(11, 1fr);
  }
}

.galley__modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
.galley__modal-bg {
  background: rgba(32, 32, 32, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}
.galley__modal-content {
  left: 44%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 63.9%;
}

// 縦長画像
.galley__modal-content.galley__modal-content--long {
  width: 40%;
  left: 42%;
  aspect-ratio: 345/523;
  @include mq("md") {
    aspect-ratio: 492/746;
    cursor: pointer;
  }
}

.galley__modal-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
