@use "global" as *;

.about__body {
  position: relative;
  margin-top: rem(26);
  @include mq(md) {
    margin-top: rem(37);
  }
}

// 画像配置
.about__body::after {
  @include mq(md) {
    content: "";
    background: url("./../images/common/top-about-coral-img.png") center center / cover no-repeat;
    /*絶対配置で線の位置を決める*/
    display: block;
    position: absolute;
    top: 86.8%;
    right: calc(50% - (min(48.111vw, rem(643))));
    /*線の形状*/
    max-width: rem(194);
    width: 100%;
    height: rem(181);
    z-index: 30;
  }
}

.about-layout-page .about__body::after {
  display: none;
}

.about__img-block {
  display: flex;
  position: relative;
  z-index: 25;
  @include mq(md) {
  }
}

.about__img-left {
  aspect-ratio: 128/194;
  position: relative;
  z-index: 20;
  @include mq(md) {
    aspect-ratio: 399/606;
  }
}

.about__img-left img {
  width: 100%;
  object-fit: cover;
  @include mq(md) {
  }
}

.about__img-right {
  aspect-ratio: 281/186;
  position: relative;
  margin-top: 7.4%;
  margin-left: -18.55%;
  z-index: 15;
  @include mq(md) {
    aspect-ratio: 880/581;
  }
}

.about__img-right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__text-en {
  font-size: rem(40);
  font-weight: normal;
  color: $green;
  line-height: 1;
  margin-top: rem(40);
  @include mq(md) {
    color: $white;
    font-size: rem(80);
    position: relative;
    z-index: 3;
    line-height: 1.25;
    margin-top: 0;
  }
}

.about__text-ja {
  margin-top: rem(16);
  @include mq(md) {
    color: $white;
    width: 46%;
    margin-top: rem(0);
    margin-left: rem(40);
  }
}

.about__text-block {
  @include mq("md") {
    position: absolute;
    top: 30.5%;
    left: 18.518%;
    display: flex;
    z-index: 30;
  }
}

.about__text {
  font-family: $second-font-family;
  line-height: 1.5;
}

.about__coral-img {
  display: none;
  @include mq(md) {
    display: block;
    max-width: rem(194);
    width: 100%;
    aspect-ratio: 194/181;
    position: absolute;
    top: 88%;
    left: 89.5%;
  }
}

.about__coral-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

// ボタンの左右中央寄せ
.about__btn-wrap {
  text-align: center;
  margin-top: rem(15);
  @include mq(md) {
    margin-top: rem(40);
  }
}

// About　usページ

// シーサーの画像
.about-layout-page .about__img-left {
  display: none;
  @include mq(md) {
    display: block;
    position: relative;
    z-index: 20;
    aspect-ratio: 399/606;
  }
}

// 魚の画像
.about-layout-page .about__img-right {
  aspect-ratio: 345/228;
  margin-top: rem(0);
  margin-left: rem(0);
  @include mq(md) {
    position: relative;
    margin-top: 7.4%;
    margin-left: -18.55%;
    z-index: 15;
    aspect-ratio: 880/581;
  }
}

.about__text-ja.about__text-ja--page {
  @include mq(md) {
    margin-top: rem(40);
  }
}

.about-layout-page .about__body::after {
  display: none;
}

.about-layout-page .about__text {
  @include mq(md) {
    margin-top: rem(10);
  }
}

.about-layout-page .about__text-en {
  position: absolute;
  color: $white;
  top: 6%;
  left: 7%;
  margin-top: rem(0);
  z-index: 50;
  @include mq(md) {
    font-size: rem(80);
    position: relative;
    z-index: 3;
    line-height: 1.25;
    top: 0%;
    left: 0%;
  }
}

.about-layout-page .about__text-ja {
  margin-top: rem(40);
}

// 画像配置
.about-layout-page::before {
  content: "";
  background: url("./../images/common/top-voice-fish.png") center center / cover no-repeat;
  /*絶対配置で線の位置を決める*/
  display: block;
  position: absolute;
  top: -5.5%;
  left: calc(50% - (min(46vw, rem(620))));
  /*線の形状*/
  max-width: rem(120);
  width: 100%;
  height: rem(55);
  z-index: -1;
  @include mq(md) {
    max-width: rem(300);
    height: rem(138);
    top: -10.3%;
    left: 7%;
  }
}
