@use "global" as *;

.blog {
  position: relative;
  padding-bottom: rem(10);
  @include mq(md) {
    padding-top: rem(85);
  }
}

.blog::before {
  @include mq("md") {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: rem(500);
    background-image: url(./../images/common/top-blog-pc.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }
}

.blog__inner {
  position: relative;
}

// 画像配置
.blog__inner::after {
  text-transform: none;
  @include mq(md) {
    content: "";
    background: url("./../images/common/blog-bg-fish.png") center center / cover no-repeat;
    /*絶対配置で線の位置を決める*/
    display: block;
    position: absolute;
    top: -9%;
    left: calc(50% - (min(48.062vw, rem(615))));
    /*線の形状*/
    max-width: rem(437);
    width: 100%;
    height: rem(200);
    z-index: 30;
  }
}

.blog__cards {
  margin-top: rem(27);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.blog-container__card {
  margin-left: auto;
  margin-right: auto;
}

.blog-container__card:not(:first-child) {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(0);
  }
}

// ボタンの左右中央寄せ
.blog__btn-wrap {
  text-align: center;
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(81);
  }
}
