@use "global" as *;

.blog-container {
  @include mq(md) {
    position: relative;
  }
}

// 画像配置
.blog-container::before {
  content: "";
  background: url("./../images/common/top-voice-fish.png") center center / cover no-repeat;
  /*絶対配置で線の位置を決める*/
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 41.5%;
  left: calc(50% - (min(48.062vw, rem(620))));
  /*線の形状*/
  max-width: rem(120);
  height: rem(55);
  @include mq(md) {
    top: -2.6%;
    /*線の形状*/
    max-width: rem(300);
    height: rem(138);
  }
}

.blog-container.blog-container__side::before{
  display: none;
}

.blog-container {
  @include mq(md) {
    display: flex;
    justify-content: space-between;
  }
}

.blog-container__main {
  @include mq(md) {
    width: 67.75%;
  }
}

// sideメニューの上の余白
.blog-container-wrap {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(0);
  }
}


// 記事詳細（detail）ページ
// 共通部分
.blog-container__side {
  @include mq(md) {
    width: 27.23%;
  }
}
.blog-container__inner.inner {
  width: 93.9%;
  margin-left: auto;
  margin-right: auto;
  @include mq(md) {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}

.blog-container__title{
  font-weight: $second-font-family;
  font-size: rem(24);
  font-weight: normal;
  position: relative;
  border-left: rem(8) solid $green;
  padding-top: rem(15);
  padding-left: rem(75);
}

// タイトル横のクジラの画像
.blog-container__title::before {
  content: "";
  background: url("./../images/common/whale-black.png") center center / cover no-repeat;
  /*絶対配置で線の位置を決める*/
  display: block;
  position: absolute;
  top: 0%;
  // left: calc(50% - (min(34.1vw, rem(643))));
  left: 5%;
  /*線の形状*/
  width: rem(50);
  height: rem(50);
  z-index: 30;
}

// ボタン中央寄せ
.blog-container__btn-wrap {
  text-align: center;
}

// 口コミボタン余白
.blog-container__btn-wrap--reviews {
  margin-top: rem(44);
}
// キャンペーンボタン余白
.blog-container__btn-wrap--campaign {
  margin-top: rem(40);
}

// 人気記事
// 上の余白
.blog-container__side.blog-container{
  margin-top:rem(80);
  @include mq(md){
    margin-top:rem(0);
  }
}

.blog-container__article {
  margin-left: auto;
  margin-right: auto;
}

.blog-container__article-cards {
  margin-top: rem(23);
  margin-left: auto;
  margin-right: auto;
}

.blog-container__article-card a {
  display: flex;
  gap: rem(16);
  box-shadow: rem(2) rem(2) rem(10) 0 rgba(0, 0, 0, 0.25);
  padding: rem(16);
  transition: 0.3s;
}

.blog-container__article-card:hover a {
  opacity: 0.7;
  transition: 0.3s;
  cursor: pointer;
}

.blog-container__article-card:not(:first-child) {
  margin-top: rem(24);
}

.blog-container__article-img {
  width: 46.4%;
  aspect-ratio: 121/90;
}

.blog-container__article-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-container__article-texts {
  display: inline-block;
}

.blog-container__article-date {
  font-size: rem(12);
  font-weight: $medium;
}

.blog-container__article-title {
  font-family: $second-font-family;
  font-size: rem(16);
  display: inline-block;
}

// 口コミ
.blog-container__reviews {
  margin-top: rem(79);
}

.blog-container__reviews-card {
  margin-top: rem(25);
}

.blog-container__reviews-img {
  aspect-ratio: 294/218;
}

.blog-container__reviews-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-container__reviews-texts {
  margin-top: rem(15);
}

.blog-container__reviews-date {
  font-family: $second-font-family;
  font-size: rem(12);
  line-height: 1.5;
}

.blog-container__reviews-text {
  font-family: $second-font-family;
  font-size: rem(24);
  font-weight: $medium;
}

// キャンペーン
.blog-container__campaign {
  margin-top: rem(81);
}

.blog-container__campaign-cards.campaign-cards {
  margin-top: rem(29);
  @include mq(md) {
    display: block;
    margin-top: rem(30);
  }
}

.blog-container__campaign-card:not(:first-child) {
  margin-top: rem(45);
}

.blog-container__campaign .campaign-card__text {
  font-size: rem(14);
}

.blog-container__campaign .campaign-card__price-wrapper {
  padding-bottom: rem(15);
}

.blog-container__campaign .campaign-card__price-before {
  font-size: rem(20);
}

.blog-container__campaign .campaign-card__price-after {
  font-size: rem(32);
}

.blog-container__campaign .campaign-card__text {
  padding-top: rem(9);
}

.blog-container__campaign-card.campaign-card:hover {
  opacity: 1;
}

// アーカイブ
.blog-container__archive {
  margin-top: rem(80);
  @include mq(md) {
    margin-top: rem(84);
  }
}
.blog-container__accordion {
  margin-top: rem(15);
  max-width: rem(300);
  position: relative;
  width: 100%;
  font-family: $second-font-family;
  padding-left: rem(15);
  @include mq(md) {
    margin-left: auto;
    margin-right: auto;
  }
}
.blog-container__accordion-title {
  color: $green;
  cursor: pointer;
  font-size: rem(24);
  font-weight: normal;
  padding: rem(10) rem(15);
}
.blog-container__accordion-content {
  display: none;
  margin-top: rem(-10);
  padding: 0 rem(20);
  line-height: 1;
}
.blog-container__accordion-text {
  font-size: rem(13);
  line-height: 1.5;
}
/* 矢印 */
.blog-container__accordion-title {
  position: relative;
}
.blog-container__accordion-title::after {
  content: url("./../images/common/archive-arrow-left.png");
  display: block;
  height: rem(24);
  position: absolute;
  left: -4.5%;
  top: 25%;
  transform: rotate(135deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  width: rem(24);
  transform: scale(0.5);
}
.blog-container__accordion-title.open::after {
  top: 30%;
  left: -2.9%;
  transform: scale(0.5) rotate(90deg);
}
// アコーディオン　第二階層
.blog-container__accordion-title-month {
  color: $green;
  cursor: pointer;
  font-size: rem(24);
  font-weight: normal;
  padding: rem(7) rem(20);
  line-height: 1;
}
.blog-container__accordion-content-month {
  display: none;
  padding: rem(10) rem(20);
}

.blog-container__accordion-month {
  margin-top: rem-(10);
}

/* 矢印 */
.blog-container__accordion-title-month {
  position: relative;
}
.blog-container__accordion-title-month::after {
  content: url("./../images/common/archive-arrow-left.png");
  display: block;
  height: rem(24);
  position: absolute;
  left: -5%;
  top: 15%;
  transform: rotate(135deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  width: rem(24);
  transform: scale(0.5);
}
.blog-container__accordion-title-month.open::after {
  top: 30%;
  transform: scale(0.5) rotate(90deg);
}
