@use "global" as *;

.breadcrumbs__inner {
  display: flex;
  gap: rem(8);
}

.breadcrumbs__inner.inner{
  padding-left: rem(10);
}
.breadcrumbs__inner > * {
  display: inline-block;
  /* 他の必要なスタイルを追加 */
}

.breadcrumbs__top a {
  font-family: $second-font-family;
  font-size: rem(14);
  text-transform: uppercase;
}

.breadcrumbs__page-title {
  font-family: $second-font-family;
  font-size: rem(14);
  text-indent: -0.3em;
}

.breadcrumbs__current-page {
  font-family: $second-font-family;
  font-size: rem(14);
}
