@use "global" as *;
// Contactページ

// 修正用テストボタン
.common-btn {
  color: $white;
  font-size: rem(14);
  display: inline-block;
  text-align: center;
  cursor: pointer;
  padding: rem(16) rem(63);
  //   アニメーション時に文字が潜り込まないように設置
  position: relative;
  z-index: 1;
  background-color: $green;
  border: rem(1) solid $green;
}

.common-btn::first-letter{
  text-transform: capitalize;
}

/*影の設定*/
.common-btn:before {
  content: "";
  /*絶対配置で影の位置を決める*/
  position: absolute;
  z-index: -1;
  top: rem(4);
  left: rem(4);
  /*影の形状*/
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: rem(1) solid $green;
}

.common-btn::after {
  background-color: $white;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
}

// ホバー時のアニメーション
.common-btn:hover::after {
  transform: scale(1, 1);
  z-index: -1;
}

.common-btn:hover {
  color: $green;
}

.common-btn span {
  position: relative;
  left: -40%;
}


// 矢印の設定
.common-btn span::before {
  position: absolute;
  top: 30%;
  left: 100%;
  content: ""; /* contentプロパティを空にする */
  background-image: url("./../images/common/common-btn-img--before.png");
  background-size: 100% auto; /* 画像を幅100%、高さは自動に設定 */
  background-repeat: no-repeat; /* 画像を繰り返し表示しない */
  margin-left: rem(8);
  width: rem(40);
  height:rem(22);
}
.common-btn:hover span::before{
  position: absolute;
  top: 30%;
  left: 100%;
  background-image: url("./../images/common/common-btn-img--after.png");
  background-size: 100% auto; /* 画像を幅100%、高さは自動に設定 */
  background-repeat: no-repeat; /* 画像を繰り返し表示しない */
  margin-left: rem(8);
  width: rem(40);
  height:rem(22);
}


// 404ページ
.common-btn.common-btn--error{
  color: $green;
  background-color: $white;
  border: rem(1) solid $white;
  text-transform: capitalize;
  padding-left: rem(40);
  padding-right: rem(97);
}
.common-btn.common-btn--error span{
  text-transform: uppercase;
  left: 0;
}
/*影の設定*/
.common-btn.common-btn--error:before {
  border: rem(1) solid $white;
}

.common-btn.common-btn--error::after {
  background-color: $green;
}

// 矢印の設定
.common-btn.common-btn--error span::before {
  background-image: url("./../images/common/common-btn-img--after.png");
  margin-left:rem(15);
 top: 15%;
}

.common-btn.common-btn--error:hover span::before{
  background-image: url("./../images/common/common-btn-img--before.png");
  margin-left:rem(15);
  top:15%;
}

// ホバー変化
.common-btn.common-btn--error:hover{
  color: $white;
}
.common-btn.common-btn--error:hover span{
  color: $white;
}
