@use "global" as *;
.faq {
  position: relative;
}

.faq::before {
  content: "";
  background: url("./../images/common/top-voice-fish.png") center center / cover no-repeat;
  /*絶対配置で線の位置を決める*/
  display: block;
  position: absolute;
  top: -1.2%;
  left: calc(50% - (min(46vw, rem(620))));
  /*線の形状*/
  max-width: rem(120);
  width: 100%;
  height: rem(55);
  z-index: -1;
  @include mq(md) {
    max-width: rem(300);
    width: 100%;
    height: rem(138);
    top: -3.5%;
  }
}

.faq__inner.inner{
  @include mq(md){
    max-width:rem(740);
    width:100%;
  }
}

/*アコーディオン全体*/
.faq__accordion-area {
  list-style: none;
  max-width: rem(700);
  margin: 0 auto;
  font-family: $second-font-family;
}


/*アコーディオンで現れるエリア*/
.faq__accordion-box {
  /*はじめは表示*/
  background: $white;
  padding: rem(19) rem(19);
  @include mq(md) {
    padding: rem(37) rem(37) rem(16) rem(45);
    margin-top: rem(16);
    border: rem(1) solid $green;
    @include mq(md) {
      margin-top: rem(19);
      padding-bottom: rem(33);
    }
  }
}
