@use "global" as *;

.page-common {
  font-family: $second-font-family;
  text-align: left;
}

.page-common__inner.inner {
  @include mq(md) {
    max-width: rem(800);
    width: 100%;
  }
}

.page-common__title {
  font-size: rem(24);
}

.page-common__items {
  margin-top: rem(40);
  font-size: rem(16);
  line-height: 2;
}

.page-common__item:nth-child(2) {
  margin-top: rem(40);
}

.page-common__description-numbers {
  counter-reset: number;
}

.page-common__description-number {
  padding-left: rem(23);
  text-indent: rem(-17);
}

.page-common__description-number::before {
  content: counter(number) ".";
  counter-increment: number;
  padding-right: rem(5);
}

.page-common__description-text {
  text-indent: rem(-5);
}
