@use "global" as *;

// 画像配置
.page-campaign::before {
  content: "";
  background: url("./../images/common/top-voice-fish.png") center center / cover no-repeat;
  /*絶対配置で線の位置を決める*/
  display: block;
  position: absolute;
  top: -0.8%;
  left: calc(50% - (min(48.062vw, rem(620))));
  /*線の形状*/
  max-width: rem(120);
  width: 100%;
  height: rem(55);
  z-index: -1;
  @include mq(md) {
    max-width: rem(300);
    height: rem(138);
    top: -3.3%;
    left: 7%;
  }
}
.page-campaign__cards {
  margin-top: rem(40);
  margin-left: auto;
  margin-right: auto;
}

.page-campaign__card {
  padding-bottom: rem(40);
}

// 上記によりカード内に広がったボタンを正常の幅に戻す↓
.page-campaign__card.campaign-card a {
  display: inline-block;
}

// Campaignページ
.page-campaign__card {
  margin-left: auto;
  margin-right: auto;
}
.page-campaign__card:not(:first-child) {
  margin-top: rem(40);
  @include mq(md) {
    margin-top: rem(0);
  }
}

// カード中央寄せ
.page-campaign__btn-wrap {
  text-align: center;
  margin-top: rem(16);
}

// ページネーション
.page-campaign__pagenavi {
  margin-top: rem(80);
}

