@use "global" as *;
.voice {
  @include mq(md) {
    position: relative;
  }
}

// 画像配置
.voice__inner::before {
  @include mq(md) {
    content: "";
    background: url("./../images/common/top-voice-fish.png") center center / cover no-repeat;
    /*絶対配置で線の位置を決める*/
    display: block;
    position: absolute;
    top: -17.3%;
    left: calc(50% - (min(48.111vw, rem(620))));
    /*線の形状*/
    max-width: rem(301);
    width: 100%;
    height: rem(138);
    z-index: 0;
  }
}

.voice__inner::after {
  @include mq(md) {
    content: "";
    background: url("./../images/common/top-voice-dragonfish.png") center center / cover no-repeat;
    /*絶対配置で線の位置を決める*/
    display: block;
    position: absolute;
    top: 85.5%;
    right: calc(50% - (min(48.111vw, rem(540))));
    /*線の形状*/
    max-width: rem(71);
    width: 100%;
    height: rem(162);
    z-index: 1;
  }
}


// ボタンの左右中央寄せ
.voice__btn-wrap {
  text-align: center;
  margin-top: rem(42);
  @include mq(md) {
    margin-top: rem(80);
  }
}

.voice__cards {
  margin-top: rem(45);
  @include mq(md) {
    margin-top: rem(30);
  }
}